<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="search">
            <input type="text" placeholder="Введите название организации" class="search__input">
            <button class="search__button" type="submit">
                <img src="img/Vector (1).svg" alt="">
            </button>
        </div>

        <ul class="git-repo">
            <li class="git-repo-tile">
                <img src="img/avatar.jpg" alt="Аватар" class="git-repo-tile__avatar">

                <div class="git-repo-tile__info">
                    <div class="git-repo-tile__info_repo-name">kts-school-frontend</div>
                    <a class="git-repo-tile__info_org-name">ktsstudio</a>
                    
                    <div class="git-repo-tile__info_rating">
                        <span class="git-repo-tile__info_rating-number">123</span>
                        <div class="git-repo-tile__info_update">Updated 21 Jul</div>
                    </div>
                </div>
            </li>

            <li class="git-repo-tile">
                <img src="img/avatar.jpg" alt="Аватар" class="git-repo-tile__avatar">

                <div class="git-repo-tile__info">
                    <div class="git-repo-tile__info_repo-name">very-very-very-long-repository-name</div>
                    <a class="git-repo-tile__info_org-name">ktsstudio</a>
                    
                    <div class="git-repo-tile__info_rating">
                        <span class="git-repo-tile__info_rating-number">123</span>
                        <div class="git-repo-tile__info_update">Updated 21 Jul</div>
                    </div>
                </div>
            </li>

            <li class="git-repo-tile">
                <img src="img/avatar.jpg" alt="Аватар" class="git-repo-tile__avatar">

                <div class="git-repo-tile__info">
                    <div class="git-repo-tile__info_repo-name">kts-school-frontend</div>
                    <a class="git-repo-tile__info_org-name">ktsstudio</a>
                    
                    <div class="git-repo-tile__info_rating">
                        <span class="git-repo-tile__info_rating-number">123</span>
                        <div class="git-repo-tile__info_update">Updated 21 Jul</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    
</body>
</html>
